// Navigation Styles here
.topBar{
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: 4px dotted grey;

    .funBus{
        display: flex;
        width: 20%;
        //.border3();

        h1{
            padding: 40px 0%;
        }
    }
    .navBar{
        display: flex;
        width: 45%;
        justify-content: space-between;
        align-content: center;
        //margin padding
        margin-left: 35%;
        //.border4();

        a{
            text-decoration: none;
            color: black;
            padding: 40px 0%;
            font-size: 2rem;
           //.border2();
        }
    }
}